<%- include("includes/head.ejs") %> <%- include("includes/nav.ejs") %>
<div class="flex-container">
	<div class="new-post">
		<form action="/blog/add-post" method="POST">
			<p>Title:</p></p><input type="text" name="title" />
			<p>Content:</p><input type="text" name="content" />
			<br/>
			<div class="tiny-box">
				<button type="submit">Submit Post</button>

			</div>
		</form>
	</div>
</div>
<%- include("includes/end.ejs") %>
