<%- include("includes/head.ejs") %> <%- include("includes/nav.ejs") %>
<img src="/images/cat.jpg" alt="cat" />
<p>There are <%= posts.length %> posts on the blog today.</p>
<%- include("includes/end.ejs") %>
