<%- include("includes/head.ejs") %> <%- include("includes/nav.ejs") %>
<div class="flex-container cat">
	<img src="/images/cat.jpg" alt="cat" />
</div>
<div class="flex-container">
	<p>There are <%= posts.length %> posts on the blog today.</p>
</div>
<%- include("includes/end.ejs") %>
