.div__welcome {
	padding: 5px;
	background-color: #eeeeee;
	font: "Arial Black", Gadget, sans-serif;
	border: 1px solid black;
	text-align: center;
}

.links {
	border: 1px solid black;
	padding: 0.5em;
	background-color: papayawhip;
	text-align: center;
}

.new-post {
	background-color: lightcyan;
	text-align: center;
	padding: 0.5em;
	display: inline-block;
	margin: 20px 5px 2px 5px;
	border-radius: 10px;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.container {
	text-align: center;
	display: flex;
	justify-content: center;
}

.blog-headline {
	background-color: lightcyan;
	text-align: center;
	min-height: 2em;
	min-width: 50em;
	font-family: Sans-Serif;
	margin: 20px;
}

.blog-content {
	background-color: lightgoldenrodyellow;
	text-align: center;
	min-height: 10em;
	min-width: 50em;
	font-family: Sans-Serif;
	margin: 15px;
}

.posts-list li {
	list-style-type: none;
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.posts-list {
	border: 2px solid #ccc;
	border-radius: 8px;
	background-color: lightgoldenrodyellow;
	margin: 15px;
}
