.div__welcome {
	padding: 5px;
	background-color: #eeeeee;
	font: "Arial Black", Gadget, sans-serif;
	border: 1px solid black;
	text-align: center;
}

.links {
	border: 1px solid black;
	padding: 0.5em;
	background-color: papayawhip;
	text-align: center;
}

.post {
	background-color: lightcyan;
	text-align: center;
	padding: 0.5em;
	display: inline-block;
}

.flex-container {
	display: flex;
	justify-content: center;
}
